@* Subject Entry Component *@
<div class="subject-entry @ThemeClass @EntryTypeClass"
     style="@PositionStyle background-color: @Color;">
    <div class="entry-content">
        <div class="entry-header">
            @if (ShowIcon && !string.IsNullOrEmpty(Icon))
            {
                <i class="@Icon entry-icon"></i>
            }
            <span class="entry-title">@Title</span>
        </div>
        @if (ShowTime)
        {
            <span class="entry-time">
                @StartTime.ToString(@"hh\:mm") - @EndTime.ToString(@"hh\:mm")
            </span>
        }
    </div>
</div>
